<%- include('partials/header', { title: 'Register' }); %>
<div class="pure-u-2-5" style="margin: auto">
	<form action="/register" method="POST" class="pure-form pure-form-aligned">
	  <fieldset>
		<div class="pure-control-group">
		  <label for="username">Username</label>
		  <input type="text" id="username" name="username" />
		</div>
		<div class="pure-control-group">
		  <label for="password">Password</label>
		  <input type="password" id="password" name="password" />
		</div>
		<div class="pure-control-group">
			<label for="passwordtoo">Confirm Password</label>
			<input type="password" id="passwordtoo" name="passwordtoo" />
		</div>
		<div class="pure-control-group">
			<% if (typeof error != "undefined") { %>
			<div id="error" class="pure-button button-error"><%= error %></div>
			<% } %>
		</div>
		<div class="pure-controls">
		  <button type="submit" class="pure-button pure-button-primary">Register</button>
		</div>
	  </fieldset>
	</form>
</div>
<%- include('partials/footer'); %>